@model TodoApp.Models.ViewModels.RegisterViewModel

<!--
reCAPTCHA
Site: 6LcRf6IqAAAAAASPL5WOehx6sZ2D87fDJTuffGb8
SecretKey: 6LcRf6IqAAAAAEYEjFP7fYOS89pzv1Le0hkH1Gl0
-->

<h1>Register</h1>

@if(!ViewData.ModelState.IsValid)
{
    foreach (var error in ViewData.ModelState.Values.SelectMany(x => x.Errors))
    {
        <p>@error.ErrorMessage</p>
    }
}

<form asp-action="Register" method="post">
    <input asp-for="Email"/>
    <input asp-for="Password"/>
    <input asp-for="ConfirmPassword"/>

    <!-- fix2 сделать так чтобы sitekey автоматически подгружался  -->
    <div class="g-recaptcha" data-sitekey="6LcRf6IqAAAAAASPL5WOehx6sZ2D87fDJTuffGb8"></div>


    <input type="submit" value="Register"/>
</form>

 <script src="https://www.google.com/recaptcha/api.js"></script>